{% load static %}
{% load cookie_banner %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <!-- Primary Meta Tags -->
    <title>Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia</title>
    <meta name="title" content="Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia">
    <meta name="description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames, test your movie knowledge, and compete against the clock. Play this free movie trivia game now!">
    <meta name="keywords" content="movie guessing game, movie trivia game, film quiz, movie frames game, framed, framed game alternative, guess the movie, movie quiz, film trivia, movie game online, movie frame quiz">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.blockflusters.com/">
    <meta property="og:title" content="Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia">
    <meta property="og:description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames in this exciting movie trivia game.">
    <meta property="og:image" content="{% static 'game/images/apple-touch-icon.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.blockflusters.com/">
    <meta property="twitter:title" content="Blockflusters - Movie Guessing Game">
    <meta property="twitter:description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames.">
    <meta property="twitter:image" content="{% static 'game/images/apple-touch-icon.png' %}">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.blockflusters.com/">

    <!-- Structured Data for Game -->
    <script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebApplication",
        "name": "Blockflusters",
        "url": "https://www.blockflusters.com",
        "description": "An online movie guessing game where players identify films from their first or last frames",
        "applicationCategory": "Game",
        "genre": "Movie Trivia",
        "image": "{% static 'game/images/android-chrome-512x512.png' %}",
        "offers": {
            "@type": "Offer",
            "price": "0",
            "priceCurrency": "USD"
        }
    }
    </script>

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'game/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'game/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'game/images/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'game/images/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'game/images/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'game/images/site.webmanifest' %}">
    <link rel="icon" href="{% static 'game/images/favicon.ico' %}" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'game/css/styles.css' %}">
</head>

<body style="background:#1C1C1C;">
    <section>
        <div class="text-center">
            <h1 class="responsive-title">
                B l 
                <img src="{% static 'game/images/1.webp' %}" alt="Blockflusters Movie Guessing Game Interface" class="film-reel">
                c k&nbsp; F l<span class="orange-letter">&nbsp;u</span>&nbsp;s t e r s
            </h1>
        </div>
    </section>

    <!-- Section for Small Screens -->
    <section class="play-game-small-screen d-block d-md-none text-center">
        <div class="container py-3">
            <div class="row justify-content-center align-items-stretch">
                <div class="col-12 mb-3">
                    <p class="game-rules">50 Popular Movies<br>One first or last frame<br>60 seconds on the clock</p>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <p class="play-game-text">Play<br>Game</p>
                    <a href="{% url 'start_game' %}?mode=first" class="btn wonky-button first-frame-btn">First<br>Frame</a>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <p class="or-text">or</p>
                    <div class="skewed-line"></div>
                </div>
                <div class="col-4 d-flex flex-column justify-content-center align-items-center">
                    <p class="play-game-text">Play<br>Game</p>
                    <a href="{% url 'start_game' %}?mode=last" class="btn wonky-button last-frame-btn">Last<br>Frame</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Section for Larger Screens -->
    <section class="play-game-large-screen d-none d-md-block text-center">
        <div class="container py-5">
            <div class="row justify-content-center align-items-stretch">
                <div class="col-md-6 d-flex flex-column justify-content-center">
                    <p class="game-rules">50 Popular Movies<br>One first or last frame<br>90 seconds on the clock</p>
                </div>
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                    <p class="play-game-text">Play<br>Game</p>
                    <a href="{% url 'start_game' %}?mode=first" class="btn wonky-button first-frame-btn">First<br>Frame</a>
                </div>
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                    <p class="or-text">or</p>
                    <div class="skewed-line"></div>
                </div>
                <div class="col-md-2 d-flex flex-column justify-content-center align-items-center">
                    <p class="play-game-text">Play<br>Game</p>
                    <a href="{% url 'start_game' %}?mode=last" class="btn wonky-button last-frame-btn">Last<br>Frame</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Stamp Image Section -->
    <section class="stamp-section text-center">
        <img src="{% static 'game/images/lopan.png' %}" alt="Blockflusters Stamp Image - Movie Guessing Game Logo" class="stamp-image">
    </section>

   <!-- Footer -->
    <footer class="site-footer text-white">
        <div class="container py-3">
            <div class="row">
                <div class="col text-end">
                    <a href="{% url 'terms_of_service' %}" class="footer-link me-3">Terms of Service</a>
                    <a href="{% url 'cookies_policy' %}" class="footer-link me-3">Cookies Policy</a>
                    <a href="https://twitter.com/block_flusters" target="_blank" aria-label="Twitter" class="footer-link-twitter">
                        <i class="fab fa-twitter"></i></a>
                    <a href="https://www.reddit.com/r/BlockflustersGame/" target="_blank" rel="noopener noreferrer" class="footer-link-reddit">
                        <i class="fab fa-reddit fa-2x"></i> </a>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    {% cookie_banner %}
    <script src="{% static 'game/js/bootstrap.min.js' %}"></script>
</body>

</html>