{% load static %}
{% load cookie_banner %}
<!DOCTYPE html>
<html data-bs-theme="light" lang="en" data-bss-forced-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    <title>Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia</title>
    <meta name="title" content="Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia">
    <meta name="description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames, test your movie knowledge, and compete against the clock. Play this free movie trivia game now!">
    <meta name="keywords" content="movie guessing game, movie trivia game, film quiz, movie frames game, framed, framed game alternative, guess the movie, movie quiz, film trivia, movie game online, movie frame quiz">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.blockflusters.com/">
    <meta property="og:title" content="Blockflusters - Movie Guessing Game | First & Last Frame Movie Trivia">
    <meta property="og:description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames in this exciting movie trivia game.">
    <meta property="og:image" content="{% static 'game/images/apple-touch-icon.png' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.blockflusters.com/">
    <meta property="twitter:title" content="Blockflusters - Movie Guessing Game">
    <meta property="twitter:description" content="Challenge yourself with Blockflusters, the ultimate movie guessing game! Identify films from their first or last frames.">
    <meta property="twitter:image" content="{% static 'game/images/apple-touch-icon.png' %}">

    <!-- Canonical URL -->
    <link rel="canonical" href="https://www.blockflusters.com/tos/">

    <!-- Structured Data for Game -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebApplication",
            "name": "Blockflusters",
            "url": "https://www.blockflusters.com",
            "description": "An online movie guessing game where players identify films from their first or last frames",
            "applicationCategory": "Game",
            "genre": "Movie Trivia",
            "image": "{% static 'game/images/android-chrome-512x512.png' %}",
            "offers": {
                "@type": "Offer",
                "price": "0",
                "priceCurrency": "USD"
            }
        }
        </script>

    <!-- Favicons-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'game/images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'game/images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'game/images/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'game/images/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'game/images/android-chrome-512x512.png' %}">
    <link rel="manifest" href="{% static 'game/images/site.webmanifest' %}">
    <link rel="icon" href="{% static 'game/images/favicon.ico' %}" type="image/x-icon">

    <!-- Stylesheets-->
    <link rel="stylesheet" href="{% static 'game/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barrio&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'game/css/styles.css' %}">
</head>

<body style="background:#1C1C1C;">

    <!-- Header Section -->
    <section>
        <div class="text-center">
            <h1 class="responsive-title">
                B l 
                <img src="{% static 'game/images/1.webp' %}" alt="Film Reel Image" class="film-reel">
                c k&nbsp; F l<span class="orange-letter">&nbsp;u</span>&nbsp;s t e r s
            </h1>
        </div>
    </section>

    <!-- Terms of Service Title -->
    <section class="text-center">
        <div class="tos-content">
            <h1>Terms of Service</h1>
        </div>
    </section>

    <!-- Terms of Service Content -->
    <section>
        <div class="tos-content">
            <h2>1. Introduction</h2>
            <p>Welcome to Blockflusters! By accessing or using our website, you agree to comply with and be bound by these Terms of Service. Please read them carefully before using our services.</p>

            <h2>2. Copyright and Fair Use</h2>
            <p>No copyright infringement is intended. The film images featured on this site are used under the fair use provisions for the purpose of providing an engaging and educational game experience for film enthusiasts. This use is transformative, adding new expression and meaning, and does not compete with the original works.</p>
            <p>Users acknowledge that the movie images and any trademarks appearing on the site are protected by copyright and trademark laws and are only to be viewed as part of gameplay on Framed.wtf. Any reproduction, distribution, or use of these images or trademarks outside of normal gameplay is strictly prohibited.</p>
            <p>We respect the intellectual property rights of others and ask our users to do the same. All rights to the original images are retained by their respective owners.</p>
            <p>If you believe that your work has been used in a way that constitutes copyright infringement, please contact us immediately at [your contact email]. We will promptly investigate and address your concerns.</p>

            <h2>3. Privacy Policy</h2>
            <p>At Blockflusters, we prioritize your privacy. Our site does not track user data, collect personal information, or store any data related to our users. By using our website, you can be assured that your personal information remains private and secure.</p>

            <h2>4. User Conduct</h2>
            <p>Users are expected to engage respectfully and responsibly while using Blockflusters. The following behaviors are considered inappropriate or abusive:</p>
            <ul>
                <li>Harassment, hate speech, or discriminatory remarks.</li>
                <li>Posting or sharing offensive, obscene, or illegal content.</li>
                <li>Attempting to disrupt or interfere with the functionality of the website.</li>
                <li>Any form of spamming or unsolicited advertising.</li>
            </ul>
            <p>Violations of these policies may result in actions such as warning notices, temporary suspension, or permanent termination of access to the site.</p>

            <h2>5. Limitation of Liability and Disclaimers</h2>
            <p>Blockflusters is provided on an "as is" and "as available" basis. We make no warranties, express or implied, regarding the operation or availability of the website, or the accuracy, reliability, or completeness of any information provided. To the fullest extent permitted by law, Blockflusters disclaims all warranties, including but not limited to implied warranties of merchantability and fitness for a particular purpose.</p>
            <p>We are not liable for any damages arising from the use or inability to use Blockflusters, including but not limited to direct, indirect, incidental, punitive, and consequential damages.</p>

            <h2>6. Legal Compliance</h2>
            <p>Blockflusters operates in compliance with all applicable laws and regulations, including the General Data Protection Regulation (GDPR). Users are responsible for ensuring that their use of the website complies with local laws where they reside.</p>

            <h2>7. Liability Waiver</h2>
            <p>By using Blockflusters, you agree to indemnify and hold harmless the website owners and affiliates from any claims, damages, losses, liabilities, and expenses arising from your use of the site. You acknowledge that the use of Blockflusters is at your sole risk.</p>

            <h2>8. No Tracking of User Data</h2>
            <p>Our website does not track, collect, or store any user data. We use essential cookies only, we do not use analytics, or any other tracking technologies. Your interactions with Blockflusters are not monitored or recorded.</p>

            <h2>9. Modifications to Terms</h2>
            <p>Blockflusters reserves the right to modify these Terms of Service at any time without prior notice. It is your responsibility to review these terms periodically. Continued use of the website after any changes constitutes acceptance of the new Terms of Service.</p>

            <h2>10. Governing Law</h2>
            <p>These Terms of Service are governed by and construed in accordance with the laws of the United Kingdom. Any disputes arising from these terms shall be resolved in the courts of the United Kingdom.</p>

            <h2>11. Contact Information</h2>
            <p>If you have any questions or concerns about these Terms of Service, please contact us at via reddit or on X.</p>
        </div>
    </section>

    <!-- Footer -->
    <footer class="site-footer text-white">
        <div class="container py-3">
            <div class="row">
                <div class="col text-end"> 
                    <a href="{% url 'home' %}" class="footer-link me-3">Home</a>
                    <a href="{% url 'terms_of_service' %}" class="footer-link me-3">Terms of Service</a>
                    <a href="{% url 'cookies_policy' %}" class="footer-link me-3">Cookies Policy</a>
                    <a href="https://twitter.com/block_flusters" target="_blank" aria-label="Twitter" class="footer-link-twitter">
                        <i class="fab fa-twitter"></i></a>
                    <a href="https://www.reddit.com/r/BlockflustersGame/" target="_blank" rel="noopener noreferrer" class="footer-link-reddit">
                        <i class="fab fa-reddit fa-2x"></i> </a>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    
    {% cookie_banner %}
    <script src="{% static 'game/js/bootstrap.min.js' %}"></script>
</body>
</html>